.content {
  position: absolute;
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  top: 55px;
  right: 0px;
  z-index: 20;
  background-color: var(--boxBG);
  border-radius: 4px;
  animation: Scales 0.2s linear forwards;
  transition: var(--trans);
  .box-search {
    display: flex;
    padding: 15px;
    align-items: center;
    cursor: pointer;
    transition: var(--trans);
    &:hover {
      opacity: 0.7;
    }
    &:not(:last-child) {
      border-bottom: 1px solid var(--border);
    }
    gap: 10px;
    img {
      width: 50px;
      object-fit: cover;
      height: 50px;
      border-radius: 6px;
    }
    .text {
      h2 {
        color: var(--whiteColor);
        font-weight: bold;
        font-size: 20px;
      }
      p {
        color: var(--whiteColor);
        opacity: 0.7;
        font-size: 15px;
      }
      .rate {
        margin-top: 5px;
        color: var(--whiteColor);
      }
    }
  }
}

@keyframes Scales {
  from {
    scale: 0.5;
  }
  to {
    scale: 1;
  }
}
